.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-flex {
  display: flex;
}
.p-20 {
  padding: 20px;
}

.s-btw {
  justify-content: space-between;
}


.flex-center {
  justify-content: center;
  align-items: center;
}


.p-100 {
  padding: 100px;
}
.flex-column {
  flex-direction: column;
}

.w-300 {
  width: 300px;
}

.post {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  cursor: pointer;
  border: 1px solid black;
}

.selected {
  border: 5px solid forestgreen;
}

img {
  height: 200px;
  width: 200px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.question {
  text-align: center;
  padding: 50px;
}

.toolbar {
  background-color: #efefef;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.toolbar a {
  margin: 0 10px;
}

.sidebar {
  width: 300px;
  background-color: #efefef;
  padding: 20px;
  text-align: center;
}


.sidebar a {
  margin: 10px 0px;
}

.footer {
  background-color: #6d6d6d;
  padding: 10px;
}

.product {
  border: 1px solid black;
  margin: 20px;
}

.upload-main-box{
  display: flex;
  width: 800px;
  height: 650px;
  border: 1px solid black;
  padding: 10px;
}

.upload-input-box{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.upload-input-box input {
  margin: 5px;
}

.upload-final-box{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 5px;
  flex-wrap: wrap;
}

.img-preview{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.error{
  color: red;
  font-size: 13px;
  margin-top: 20px;
}